*{
    margin: 0;
    padding: 0;
}



body {
    background-image: url('img/Background.png');
}

.atasan {
    border: 3px solid black;
    border-radius: 15px;
    margin-top: 200px;
    margin-left: 600px;
    margin-right: 400px;
    background-color: white;
    opacity: 0.75;
    padding: 10px 10px 10px 10px;
}

.ending {
display: flex;
position: relative;
justify-content: center;

}

footer h3 {
    text-align: center;
    display: block;
}
/* ini buah newsletter */
